:root {
  --scrollbar-track-bg: rgb(50 50 50 / 10%);
  --scrollbar-thumb-bg: rgb(50 50 50 / 30%);
  --scrollbar-corner-bg: rgb(50 50 50 / 15%);
  --paper: rgb(255 255 255);
  --ink: rgb(0 0 0 / 85%);
  --divider: rgb(240 240 240);
}
