@use 'styles/fonts';
@use 'styles/scrollbar';
@use 'styles/theme.light';

html {
  height: 100%;
}

body {
  font-family: var(--font-family, 'circular_std'), sans-serif;
  text-rendering: optimizeLegibility;
  font-variant: tabular-nums;
  min-height: 100%;
}

#root {
  height: 100%;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-family-mono, 'jetbrains_mono');
}

.ant-tooltip-arrow {
  display: none;
}
